.singleComment {
   padding: 10px;
}
.p-comment {
   display: flex;
   width: 100%;
   height: 60px;
   background-color: rgb(237, 237, 237);
   border-radius: 10px;
   padding: 40px 50px;
   align-items: center;
}
.p-comment > a > img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
